{% extends "::base.html.twig" %}
{% block content %}
<h1><a href="{{ path('index_v240') }}" style="font-size: 30px; text-decoration: none">Symfony2中文手册 -- The Book</a></h1>
    <ul id="articles">
        <li><a href="{{ path('about_v240') }}">说明</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c1_v240') }}">Symfony2和HTTP基本原理</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c2_v240') }}">Symfony2 versus Flat PHP</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c3_v240') }}">Installing and Configuring Symfony</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c4_v240') }}">Creating Pages in Symfony2</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c5_v240') }}">Controller</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c6_v240') }}">Routing</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c7_v240') }}">Creating and using Templates</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c8_v240') }}">Databases and Doctrine</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c9_v240') }}">Databases and Propel</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c10_v240') }}">Testing</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c11_v240') }}">Validation</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c12_v240') }}">Forms</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c13_v240') }}">Security</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c14_v240') }}">HTTP Cache</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c15_v240') }}">Translations</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c16_v240') }}">Service Container</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c17_v240') }}">Performance</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c18_v240') }}">Internals</a> <span>2013/12/12</span></li>
        <li><a href="{{ path('c19_v240') }}">The Symfony2 Stable API</a> <span>2013/12/12</span></li>
</ul>
{% endblock content %}
{% block footer %}
<div style="height: 60px; line-height:60px; border-top:1px solid #ccc; margin-top: 20px;">
    <span style="float: left;">Powered by <a href="http://symfony.com/" target="_blank">Symfony</a></span> 
    <span style="float:right"><a href="https://github.com/Filix" target="_blank">Fork me on Github</a></span>
</div>
{% endblock footer %}